

	html, body{
		background-color:white;
		margin: 0;
		padding:0;
		height:100%;
	}
	header {
		background: #55d6aa;
		width: 100%;
		font-family: 'Corben', Georgia, Times, serif;
		font-size: 15px;
		line-height: 55px;
		font-weight: 300;
		margin: 0;
		padding:0;
	}
	header::after{
		content:'';
		display: table;
		clear:both;
	}
	nav{
		float:right;
	}
	nav li{
		display: inline-block;
		margin-left: 20px;
		position: relative;
		margin-right:25px;
	}
	nav a:hover {
		color: #000;
	}
	nav a::before{
		content: '';
		display: block;
		height: 5px;
		background-color: #444;
		position:absolute;
		top:0;
		width:0%;

		transition: all ease-in-out 400ms;
	}
	nav ul{
		margin:0;
		padding:0;
		list-style: none;
	}
	nav a{
		color: #444;
		text-decoration: none;
		text-transform: uppercase;
		font-size:14px;
	}
	nav a:hover::before{
		width:100%;
	}
	.container{
		width: 100%;
		margin: 0 auto;

	}

	.wrapper{
		display:grid;
		grid-template-rows: 50% 30%;
		grid-gap: 5em;
		width:70%;
		margin: 0 auto;

	}
	
	.wrapper > div{
		background:#eee;
		padding:1em;
	}
	
	.wrapper > div :nth-child(odd){
		background:#ddd;

	}
	/*.navigation{
		position:fixed;
		width: 100%: 
		width: auto;
	    float: none;
	    margin-left: 0px;
	    margin-right: 0px;
	    padding-left: 20px;
	    padding-right: 20px;
	    border-size:2px;
		border-style:solid;
		border-color:black;

	}

	.navigation li{
		display:inline;
		padding:10px;
		/*top: 0px;
		left: 50px;
		padding: 10px;
		margin: 0px;
		border-color: black;}
	#call_to_action{
		padding-top:100px;
		border-size:2px;
		border-style:solid;
		border-color:black;
		
	}
	.booking{
		border-size:2px;
		border-style:dotted;
		border-color:black;}

	.pricing{
		margin-top: 10px;
		border-size:2px;
		border-style:solid;
		border-color:black;
		background-color: hsla(0,100%,100%,0.5);
	}


	.regular_sections{
		margin-top: 10px;
		border-size:2px;
		border-style:solid;
		border-color:black;
		background-color:white;
	}			

	.pricing p{
		display:inline;
	}

	.booking li{
		display:inline;
		padding-left: 100px;
		padding-right: 100px;
	}*/
